<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VD_teleprompter</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../static/css/style.css" >
</head>
<header>
    <div  class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
</div>
</header>
<body>
<div  class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <p>
                <textarea class="main-text-area" name="comment" rows="3"></textarea></p>
            <p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row buttons">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><button class="btn">xc</button></div>
        <div class="col-sm-1"><button class="btn">xc</button></div>
        <div class="col-sm-1"><button class="btn">xc</button></div>
        <div class="col-sm-2"><button class="btn">xc</button></div>
        <div class="col-sm-1"><button class="btn">xc</button></div>
        <div class="col-sm-1"><button class="btn">xc</button></div>
        <div class="col-sm-1"><button class="btn">xc</button></div>
        <div class="col-sm-2"></div>
    </div>
</div>
</body>
<footer>

</footer>
</html>